* {
  box-sizing: border-box;
}
body {
  font-family: tahoma, Arial;
}
.lang {
  position: fixed;
  background-color: #0075ff99;
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.lang > div {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  display: flex;
  align-items: start;
  gap: 20px;
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
  }
}
.lang .label {
  margin-top: 5px;
}
.lang .select {
  overflow: hidden;
}
.lang .select .current {
  margin-bottom: 4px;
  background-color: white;
  color: #0075ff;
  padding: 7px 20px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  width: 150px;
  text-align: center;
}
.lang .select .current .hide {
  display: none;
}
.lang.show-list .select .current .hide {
  display: inline;
}
.lang .select .current .show {
  display: inline;
}
.lang.show-list .select .current .show {
  display: none;
}
.lang .select .current .hide,
.lang .select .current .show {
  cursor: pointer;
  width: 17px;
  margin-bottom: -2px;
}
.lang .select .options {
  background-color: white;
  color: #0075ff;
  border-radius: 5px;
  transform: translateY(-125px) rotateX(90deg);
  transition: transform 0.5s;
}
.lang.show-list .select .options {
  transform: translateY(0) rotateX(0);
}
.lang .select .option {
  padding: 8px 20px;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  user-select: none;
  transition: all 200ms;
}
.lang .select .option.selected {
  text-shadow: 1px 1px 2px black;
}
.lang .select .option::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #0075ff;
}
.lang .button {
  background-color: white;
  color: #0075ff;
  padding: 7px 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 500ms;
}
.lang .button:hover {
  background-color: #0075ff;
  color: white;
}
.quiz-app {
  margin: 20px auto;
  width: 800px;
  background-color: #f8f8f8;
  padding: 15px;
  @media (max-width: 576px) {
    width: 100%;
    font-size: 13px;
  }
}
.quiz-app .quiz-info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
}
.quiz-app .quiz-area {
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
}

.quiz-app .quiz-area h2 {
  margin: 0;
}
.quiz-app .answers-area {
  background-color: #fff;
  padding: 20px;
}
.quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
}
.quiz-app .answers-area .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label {
  color: #0075ff;
}
.quiz-app .answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.quiz-app .submit-button {
  background-color: #0075ff;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin: 20px auto;
}
.quiz-app .submit-button:focus {
  outline: none;
}
.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  display: flex;
  padding: 20px;
}
.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}
.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #eee;
  margin-right: 5px;
  border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
  background-color: #0075ff;
}
.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.bad {
  color: red;
}
.quiz-app .results span.good {
  color: #009688;
}
.quiz-app .results span.perfect {
  color: red;
}
